* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: Raleway;
}
a {
  color: inherit;
}

img,
video {
  display: block;
  max-width: 100%;
}
.row + .row {
  margin-top: 16px;
}

.row > .col,
.row > [class^="col-"] {
  padding-top: 12px;
  padding-bottom: 12px;
}
h2 {
  color: #fff;
  text-align: center;

  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

p {
  color: #000;

  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
li {
  list-style: none;
}
