.l-background-animal {
  background-image: url(../img/pattern.png);
  background-repeat: repeat;
  border-bottom: 10px solid #ffb500;
}
.l-background.green {
  background-color: #9c3;
  width: 759px;
  height: 40px;
}
.l-background.blue {
  background-color: #00a8b1;
  width: 380px;
  height: 40px;
}
.l-background {
  margin-top: -12px;
  margin-left: -14px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2) inset;
}
.l-background-line {
  height: 40px;
  background-color: #ffb500;
  width: 100%;
  margin-bottom: -40px;
}
/*.l-background-test {
  background-color: blue;
  width: 53%;
  height: 40px;
}*/
