.l-top-line {
  border-top: 40px solid #ffb500;
  margin-bottom: -41px;
}
.l-background-animal {
  padding: 0px 0 66px;
}
.l-background {
  margin-top: -12px;
  margin-left: -14px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2) inset;
}

.l-background-title {
  height: 40px;
  margin: 0 -12px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.l-background-title.green {
  background-color: #9c3;
}
.l-background-title.blue {
  background-color: #00a8b1;
}
hr.l-bottom-line {
  border-top: 10px solid #ffb500;
}
.l-footer-bg {
  background-color: white;
}
